
.contenedor {
    margin-left: 30px;
    margin-right: 20px;
}

.cabecera {
    display: table;
    width: 100%;

}

.cabecera div {
    display: table-cell;
}

.texto {
    font-family: "GillSans Light, sans-serif";
    font-size: 9pt;
    text-align: justify;
}

.logo {
    border: 1px solid black;
    width: 50%;
    height: auto;
}

.justificacion {
    border: 1px solid black;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    float: left;
}

.vertical{
        border: 1px solid black;
        height: 15px;
}
